<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815160553666-osb6v3o27eh09fijnuq0docdv77ecocm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815160553666-osb6v3o27eh09fijnuq0docdv77ecocm</string>
	<key>API_KEY</key>
	<string>AIzaSyC3u5zugVb8rCPo3ycMkGvuU3j4efmzQ_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>815160553666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>guildIOS.FirebaseFirstSteps</string>
	<key>PROJECT_ID</key>
	<string>fir-firststeps-f4fee</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firststeps-f4fee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815160553666:ios:eb29a89a42beb245014b5b</string>
</dict>
</plist>